In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

Above is the info off all columns

### Prepairing Data For Modeling

In [54]:
from sklearn.model_selection import train_test_split

train,test = train_test_split(df,train_size=0.70,random_state=100)
print(train.shape)
print(test.shape)

(1021, 245)
(439, 245)

In [55]:
train.describe()

,LotFrontage,LotArea,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,...,FireplaceQu_TA,Functional_Maj2,Functional_Min1,Functional_Min2,Functional_Mod,Functional_Sev,Functional_Typ,KitchenQual_Fa,KitchenQual_Gd,KitchenQual_TA
count,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,...,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000
mean,69.569050,10489.964740,1971.321254,1984.984329,448.165524,50.087169,563.745348,1061.998041,1168.611166,343.540646,...,0.203722,0.002938,0.018609,0.025465,0.007835,0.000979,0.935357,0.026445,0.406464,0.501469
std,22.090553,10308.062725,30.321038,20.604962,465.115135,170.847470,448.739203,459.098042,397.896911,435.498994,...,0.402962,0.054153,0.135207,0.157611,0.088214,0.031296,0.246014,0.160532,0.491414,0.500243
min,21.000000,1477.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,372.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,60.000000,7449.000000,1954.000000,1967.000000,0.000000,0.000000,216.000000,793.000000,876.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,69.000000,9505.000000,1973.000000,1994.000000,392.000000,0.000000,462.000000,994.000000,1086.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,78.000000,11512.000000,2000.000000,2004.000000,712.000000,0.000000,806.000000,1314.000000,1422.000000,728.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000
max,313.000000,215245.000000,2010.000000,2010.000000,5644.000000,1474.000000,2336.000000,6110.000000,4692.000000,2065.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Rescalling number valules

In [56]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
num_vars=['DATE','MONTH','YEAR']
train[num_vars] = scaler.fit_transform(train[num_vars])
test[num_vars] = scaler.fit_transform(test[num_vars])
train.describe().T

,count,mean,std,min,25%,50%,75%,max
LotFrontage,1021.0,0.166332,0.075653,0.0,0.133562,0.164384,0.195205,1.0
LotArea,1021.0,0.042162,0.048221,0.0,0.027937,0.037555,0.046943,1.0
YearBuilt,1021.0,0.719719,0.219718,0.0,0.594203,0.731884,0.927536,1.0
YearRemodAdd,1021.0,0.583072,0.343416,0.0,0.283333,0.733333,0.900000,1.0
BsmtFinSF1,1021.0,0.079406,0.082409,0.0,0.000000,0.069454,0.126152,1.0
...,...,...,...,...,...,...,...,...
Functional_Sev,1021.0,0.000979,0.031296,0.0,0.000000,0.000000,0.000000,1.0
Functional_Typ,1021.0,0.935357,0.246014,0.0,1.000000,1.000000,1.000000,1.0
KitchenQual_Fa,1021.0,0.026445,0.160532,0.0,0.000000,0.000000,0.000000,1.0
KitchenQual_Gd,1021.0,0.406464,0.491414,0.0,0.000000,0.000000,1.000000,1.0
KitchenQual_TA,1021.0,0.501469,0.500243,0.0,0.000000,1.000000,1.000000,1.0

training model

In [1]:
y_train = train.pop('COUNT')
X_train = train

y_test = test.pop('COUNT')
X_test = test

NameError: name 'train' is not defined

In [3]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV


rf_classifier = RandomForestClassifier(random_state=42)

# Define the parameter grid for GridSearchCV
param_grid = {
    'n_estimators': [50, 100, 200],        # Number of trees in the forest
    'max_depth': [None, 10, 20, 30],       # Maximum depth of the tree
    'min_samples_split': [2, 5, 10],       # Minimum number of samples required to split an internal node
    'min_samples_leaf': [1, 2, 4],         # Minimum number of samples required to be at a leaf node
}

# Create GridSearchCV object
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid,
                           cv=5, n_jobs=-1, verbose=2)

grid_search.fit(X_train, y_train)

# Best model after grid search
best_rf_classifier = grid_search.best_estimator_
best_rf_classifier

NameError: name 'X_train' is not defined

In [ ]:
y_test_pred = rf_best.predict(X_test)
r2_score(y_test, y_test_pred)